<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4'>
      <h1>Log In</h1>
      <%= render partial: 'users/form',
          locals: { user: @user,
                    action: session_url,
                    btn_text: 'Log In' } %>
    </div>
  </div>
</div>