<div class='story-controls'>
  <div class='story-controls-left'>
    <a href='#' class='expand'>
      <span class='glyphicon glyphicon-chevron-right'>
      </a>
  </div>
  <div class='story-title'>
    <%= story.escape('title') %>
  </div>
  <div class='story-controls-right'>
    <a href='#' class='trash'>
      <span class='glyphicon glyphicon-trash'>
    </a>
    </div>
  </div>
</div>
<div class='story-details'>
</div>