/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/sortable
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "datepicker3";
@import "slider";

body {
  margin-top: 50px;
}

.modal {
  top: 25%;
}

.hidden {
  display: none;
}

.external-link {
  color: red;
  background-color: #ccc;
  font-variant: small-caps;
}

div.spacer {
  min-height: 20px;
}

div#main-logo-div {
  width: 400px;
  height: 266px;
  margin: 0 auto;
}

div#start-page-panel {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

div#start-page-panel h1, div#start-page-panel h2,
div#start-page-panel h3, div#start-page-panel h4 {
  text-align: center;
}

div#start-page-panel div.well {
  height: 310px;
}

div#start-page-panel ul {
  list-style-type: none;
  line-height: 20px;
}

div.well {
  background-color: #f2ead0;
  box-shadow: 5px 5px 2px #ccc;
}

div#start-page-well-right {
  padding-left: 65px;
  background-color: #a9d9cb;
}

div#start-page-well-right p:nth-child(1) {
  margin-top: 10px;
}

div#start-page-well-right p {
  margin-top: 25px;
}

div#tabs-container {
  height: 95vh;
}

a.logo-link {
  padding-top: 0px;
  margin-right: 20px;
}

div.tab {
  border-radius: 8px;
  -webkit-background-size: 50px 50px;
  background-color: #aeb6b9;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
  box-shadow: 10px 10px 5px #ccc;
}

div.tab-header {
  background-color: #333;
  height: 30px;
  line-height: 30px;
  color: #fff;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px 6px 0 0;
}

nav.tab-controls {
  float: right;
  color: #fff;
}

a.tab-icon {
  color: #fff;
}

p.project-title {
  font-weight: bold;
}

div.stories-column {
  padding-left: 4px;
  padding-right: 4px;
  min-height: 800px;
}

div.story {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 2px;
  box-shadow: 5px 5px 2px #999;
  /* background */
  background-color: #f3f3d1;
  -webkit-background-size: 50px 50px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
}

div.story.unstarted {
  background-color: #e4eff7;
}

div.story.accepted {
  background-color: #daebcf;
}


div.story-controls {
  width: 100%;
}

div.story-controls a {
  color: grey;
}

div.story-controls-left {
  float: left;
  margin-right: 8px;
  height: 30px;
  position: relative;
  top: 6px;
}

div.story-title {
  float: left;
  line-height: 30px;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
}

div.story-controls-right {
  float: right;
  margin-right: 5px;
  height: 30px;
  position: relative;
  top: 6px;
}

div.story-details {
  clear: both;
  border: 1px solid grey;
  background-color: #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  display: none;
}

div.story.maximized > div.story-details {
  display: block;
}

.story-attributes label.control-label {
  font-size: 12px;
  padding-top: 4px;
}

.story-attributes input,
.story-attributes select {
  height: 25px;
}

.story-attributes input[type='radio'] {
  height: 15px;
}

.story-attributes label.radio-inline {
  padding-top: 0px;
}

.story-attributes .form-group {
  margin-bottom: 5px;
}

.status-col {
  padding-right: 5px;
}

span.glyphicon.glyphicon-star {
  color: #FFB900;
}

span.glyphicon.glyphicon-list-alt {
  color: black;
}

span.glyphicon.glyphicon-screenshot {
  color: #c41414;
}

span.glyphicon.glyphicon-flag {
  color: rgb(60, 182, 23);
}

div.ui-sortable-helper {
  transform: rotate(1deg);
  box-shadow: 10px 10px 5px #777;
}

span#capacity-value {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

div.tab.story-drop-allowed {
  box-shadow: 10px 10px 5px rgb(172, 243, 172);
}
